# Base de données PostgreSQL
DATABASE_URL="postgresql://user:password@localhost:5432/marketcourse?schema=public"

# JWT
JWT_SECRET="votre-secret-jwt-a-changer-en-production"

# Serveur
PORT=3000
HOST="0.0.0.0"

# Environnement
NODE_ENV="development"
